<div class="sectioncard" style="margin: 20px;padding-top:10px">
    <!-- defined in main controller -->
    <a href="" ui-sref="dashboard" ng-click="myperformance();" class="goback">
        <i class="fa fa-angle-left" style="padding-top: 9px;"></i></a>
    <h2 class="section-head"> Change Password</h2>
    <div class="card clearfix">
        <form name="myForm" id="formCheckPassword" novalidate class="form-horizontal ng-pristine ng-valid" ng-submit="changePassword()">
            <div class="form-group" ng-class="{ 'has-error': myForm.oldPassword.$dirty && myForm.oldPassword.$error.required }">
                <label class="col-sm-2 control-label">Old Password :</label>
                <div class="col-sm-10">
                    <input type="password" name="oldPassword" ng-model="user.oldPassword" class="form-control-custom" required>
                    <span style="color: red" ng-show="myForm.oldPassword.$dirty && myForm.oldPassword.$invalid">
                        <span ng-show="myForm.oldPassword.$error.required">Please enter old password</span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': myForm.newPassword.$dirty && myForm.newPassword.$error.required }">
                <label class="col-sm-2 control-label">New Password :</label>
                <div class="col-sm-10">
                    <input type="password" name="newPassword" ng-model="user.newPassword" class="form-control-custom" required>
                    <span style="color: red" ng-show="myForm.newPassword.$dirty && myForm.newPassword.$invalid">
                        <span ng-show="myForm.newPassword.$error.required">Please enter new password</span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': myForm.rePassword.$dirty && myForm.rePassword.$error.required }">
                <label class="col-sm-2 control-label">Confirm Password :</label>
                <div class="col-sm-10">
                    <input type="password" name="rePassword" ng-model="user.rePassword" class="form-control-custom" required>
                    <span style="color: red" ng-show="!myForm.rePassword.$error.required && isMatch">Passwords do not match!</span>
                    <span style="color: red" ng-show="myForm.rePassword.$dirty && myForm.rePassword.$invalid">
                        <span ng-show="myForm.rePassword.$error.required">Please enter confirm password</span>
                    </span>
                </div>
            </div>
            <div class="text-center footer-buttons">
                <button type="submit" class="btn action_btn sm-full" ng-disabled="myForm.$invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
