<div class="login_main">
    <div class="login_form_section">
    <div class="loginheader">
        <img src="../img/Penna-Logo.png"  alt="Penna Logo">
        <h1>Create new Password</h1>
    </div>
    <form class="loginform">
        <div class="form-group">
            <input type="password" 
                   ng-model="curPass"
                   class="form-control-custom"
                   placeholder="Current Password">
        </div>
        <div class="form-group">
            <input type="password" 
                   ng-model="newPass"
                   class="form-control-custom"
                   placeholder="Enter New Password">
        </div>
        <div class="form-group">
            <input type="password" 
                   ng-model="conNewpass"
                   class="form-control-custom"
                   placeholder="Conform New Password">
        </div>
    </form>
        <button class="btn signin">Proceed</button>
    </div>
</div>